@import "tailwindcss";

:root {
  --background: #f9f8f6;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-hikasami);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-hikasami), sans-serif;
}
